body {
  font-family: Arial;
  background: #2e5972;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px; 
  padding: 15px;
  background: white;
  border-radius: 12px;
}

.card:hover {
  transform: scale(1.05);
}

.product-img {
  height: 120px;
  object-fit: contain;
}

  h1 {
  text-align: center;
  margin: 20px 0;
}

.content {
  flex-grow: 1; 
}

.title {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  margin-bottom: 8px;
}

button {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
}

.bottom {
  margin-top: auto; 
}